 
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

  * { font-family: 'Roboto', sans-serif, 'Spectral', serif;}

/*------------------ IMPOSTAZIONI GENERALI ------------------*/
  
  body { width: 100%;}


        a { text-decoration: none;}

        button {

            display: inline-block;
            font-family: 'Roboto', sans-serif;

            border-radius: 99em;
   
            text-decoration: none;
            border: none;
            cursor: pointer;
       }


/*------------------ MENU NAVIGATORE ------------------*/

header {  

    background-color: #ffc017;
    border-bottom: 1px solid #191919;
    width: 100%;
    height: 4em;
    padding: 1% 10% 1% 10% ;

    display: flex;
    position: sticky;
    align-items: center;
    top: 0; left: 0;

    transition: background-color 02s ease-in-out;
    
}
   
header.scrolled { 
   
    background-color: white;
      
}

   header nav {  


        flex-direction: row;
        flex-wrap: nowrap;
        text-align: right;
        width: 100%;
     
   }

   header nav a {  

        text-decoration: none;
        color: #191919;

        font-size: 0.9em;
        margin: 1em;
        cursor: pointer;       
      
  }

    header nav button {

        background-color: #191919;
        color: white;

        border: none;
        border-radius: 10em;
        padding: 0.5em 1em 0.5em 1em;
        cursor: pointer;

        transition: background-color 2s ease-in-out;
  }

    header.scrolled nav button { 
   
         background-color: #1a8917;
   
  
}
            
/*------------------ I NEED A HEROOOH ------------------*/

        .hero {              
            
            background-color: #ffc017;
            border-bottom: 1px solid #191919; 
            color: #191919;

            height:500px; 
            width: 100%;
            display: flex; align-items: center;

         }

        .hero__contenuto { 
            
             width: 600px;

             margin-left: 150px;
             padding-top: 90px;
             padding-bottom: 90px;
             display: table-column;
             flex-direction: column;}

             
            .hero .hero__contenuto h1 { 

                font-size: 100px;
                font-family:'Spectral', serif;
                font-weight: 400px;
                line-height: 85px;

                padding-bottom: 20px 0px 20px 0px ;
                box-sizing: inherit;

                
            }

            .hero .hero__contenuto p { 

                font-size: 24px;
                line-height: 23px;
                font-family:'Roboto', sans-serif;
                font-weight: 400px;

                padding-bottom: 20px;
                margin-left: 10px;
                box-sizing: inherit;
            }

            .hero .hero__contenuto #reading  {       
                  background-color: #191919;
                  color: aliceblue;   
            }


             /* .hero .hero__contenuto .artwork { display:flex; flex-direction: column;} */


/*------------------ TRENDING  ------------------*/

         #trending {  
                         padding: 5px;
                         margin-top: 33px;

                         display: flex;
                         align-items: center;
        }

        /*-------------- articoli  --------------*/


         .container2 {

             width: 70%; position: relative;
             top: 0%; left: 0%; 
            
             padding: 10px;


             margin: 0 auto;
             align-content: center;
             align-items: center;

             
         }

         .section { 


             display: flex;
             flex-wrap: wrap;
             align-items: flex-start;

            }

            .article {               
               

                 padding: 20px;
                 max-width: 33.33%;
                 margin: 10px;

                 display: flex;               
                
            }
                            
                 .fp {

                     font-size: 30px;
                     margin-right: 2px;
                     color: rgb(193, 193, 193);

                     height: 100%;
                     width: 30%;
                     display: flex;
                     justify-content: flex-start;


                 }

            .descrizione { 

                 display: flex;           
            }

            .foto_autore {display: flex;}




/*------------ ARTICLE -SECTION FLEX  ------------*/

.container3 {  

         width: 100%; position: relative;
         top: 0%; left: 0%; margin: 0 auto;
       
         padding: 10px;

         display: flex;
         align-content: center;
         justify-content: center;

        }

        /*------------ ARTICLE ------------*/

         article { 
     
         width: 50%;

         padding: 30px;
         justify-content: center;
         position: relative;

         }

              .descrizione {display: flex;}

        /*------------ ANTEPRIMA ------------*/

         section { 
     
         width: 30%;
         padding: 30px;

         }

             .preference {

                display: flex;
                flex-wrap: wrap;
                align-content: center;

                display: fixed;

             }
             .reading {
                
                      font-size: 15px ;
                      font-weight: 400;
                      margin: 3px;
                      padding: 8px 45px;

                      background-color: #e3dede;
                      color: #000000;

                      flex-direction: row;
                      flex-wrap: nowrap;
                      text-align: center;
                      align-content: center;

             }

             .see {

                     background-color: transparent;
                     color: rgb(80, 165, 91);
                     font-size: 14px ;

                     flex-direction: row;
                     text-align: center;
                     align-content: center;

            
            }


            .autore { 

                 display: flex;
                 align-items: center;
                 
            }

            .circle { border-radius: 50%;}








/* RESET PADDING*/
*,
*:before,
*:after {

     -webkit-box-sizing: border-box ;
         -moz-box-sizing:border-box ;
             box-sizing: border-box ;
}




